// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

.#{tp.$prefix}-extv {
	@extend %tp-input;

	&_label {
		margin: 3px;
		color: var(--in-fg);
		// font-size: 15px;
	}
}

.tp-pndtxtv_a .tp-txtv_k {
	left: -10px;
}

.tp-pndtxtv_a .tp-txtv_k::before {
	background-color: var(--in-bg);
	bottom: 0;
	content: "";
	height: calc(var(--cnt-usz) - 4px);
	left: -50%;
	position: absolute;
	top: 0;
	transition: border-radius .1s, height .1s, transform .1s, width .1s;
	width: 20px;
}

.tp-pndtxtv_a .tp-txtv_k:hover::before,
.tp-pndtxtv_a .tp-txtv.tp-txtv-drg .tp-txtv_k::before {
	opacity: 0;
}