// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

.#{tp.$prefix}-extv {
	@extend %tp-input;

	&_label {
		margin: 3px;
		color: var(--in-fg);
		// font-size: 15px;
	}
}

.tp-txtv.tp-txtv-num .tp-txtv_i {
	text-align: left;
}

// .tp-txtv_k {
// 	position: absolute;
// 	top: 0;
// 	left: -30%;
// }

// .tp-txtv_k::before {
// 	background-color: var(--in-fg);
// 	border-radius: 2px;
// 	bottom: 0;
// 	content: "";
// 	height: calc(var(--cnt-usz) - 4px);
// 	left: 90%;
// 	margin-bottom: auto;
// 	margin-left: -1px;
// 	margin-top: auto;
// 	opacity: .1;
// 	position: absolute;
// 	top: 0;
// 	// transition: border-radius .1s, height .1s, transform .1s, width .1s;
// 	width: 2px;
// }