// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

.#{tp.$prefix}-extv {
	@extend %tp-input;

	&_lable {
		position: absolute;
		width: 100%;
		height: calc(var(--cnt-usz) - 4px);
		margin-left: 4px;
		margin-top: 3px;
		color: var(--in-fg);
	}
}

.tp-txtv_k {
	width: 10px;
	text-align: left;
}

.tp-txtv_k::before {
	margin-left: 7px;
}

.tp-txtv_i {
	padding-left: 15px;
}

.tp-txtv_g {
	padding-left: 15px;
}